@page "/users"

<PageTitle>Users</PageTitle>

<h2>User List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
         
        <tbody>
            @if (showFilteredUsers)
            {
                @foreach (var u in users.Where(u => activeFilter == u.IsActive))
                {
                    <tr>
                        <td>
                            @u.Id
                        </td>
                        <td>
                            @u.Forename
                        </td>
                        <td>
                            @u.Surname
                        </td>
                        <td>
                            @u.Email
                        </td>
                        <td>
                            @(u.IsActive ? "Yes" : "No")
                        </td>
                        <td>
                            <Dropdown>
                                <DropdownToggleButton Color="ButtonColor.Secondary">Actions</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="#" Type="ButtonType.Link">View</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Edit</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var u in users)
                {
                    <tr>
                        <td>
                            @u.Id
                        </td>
                        <td>
                            @u.Forename
                        </td>
                        <td>
                            @u.Surname
                        </td>
                        <td>
                            @u.Email
                        </td>
                        <td>
                            @(u.IsActive ? "Yes" : "No")
                        </td>
                        <td>
                            <Dropdown>
                                <DropdownToggleButton Color="ButtonColor.Secondary">Actions</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="#" Type="ButtonType.Link">View</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Edit</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </td>
                    </tr>
                }
            }
        </tbody>
        </table>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" class="btn btn-default">Show All</a>
        <button class="btn btn-default" @onclick="@(() => FilterUsers(true))">Active Only</button>
        <button @onclick="@(() => FilterUsers(false))" class="btn btn-default">Non Active</button>
    </div>

    <a href="#" class="btn btn-primary float-end">
        Add User
    </a>
</div>

@code {
    private List<User> users = new(){
            new User { Id = 1, Forename = "Peter", Surname = "Loew", Email = "ploew@example.com", IsActive = true },
            new User { Id = 2, Forename = "Benjamin Franklin", Surname = "Gates", Email = "bfgates@example.com", IsActive = true },
            new User { Id = 3, Forename = "Castor", Surname = "Troy", Email = "ctroy@example.com", IsActive = false },
            new User { Id = 4, Forename = "Memphis", Surname = "Raines", Email = "mraines@example.com", IsActive = true },
            new User { Id = 5, Forename = "Stanley", Surname = "Goodspeed", Email = "sgodspeed@example.com", IsActive = true },
            new User { Id = 6, Forename = "H.I.", Surname = "McDunnough", Email = "himcdunnough@example.com", IsActive = true },
            new User { Id = 7, Forename = "Cameron", Surname = "Poe", Email = "cpoe@example.com", IsActive = false },
            new User { Id = 8, Forename = "Edward", Surname = "Malus", Email = "emalus@example.com", IsActive = false },
            new User { Id = 9, Forename = "Damon", Surname = "Macready", Email = "dmacready@example.com", IsActive = false },
            new User { Id = 10, Forename = "Johnny", Surname = "Blaze", Email = "jblaze@example.com", IsActive = true },
            new User { Id = 11, Forename = "Robin", Surname = "Feld", Email = "rfeld@example.com", IsActive = true },
    };

    private bool showFilteredUsers = false;
    private bool activeFilter = false; 

    private void FilterUsers(bool filterByActive)
    {
        showFilteredUsers = true;
        activeFilter = filterByActive;
    }
    }
