@page "/users"

@inject IUserService _userService


<PageTitle>Users</PageTitle>

@if (IsProcessing)
    {
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
    }
    else
    {
<h2>User List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>

        <tbody>
            @if (showFilteredUsers)
                {
                @foreach (var u in Users.Where(u => activeFilter == u.IsActive))
                    {
                    <tr>
                        <td>
                            @u.Id
                        </td>
                        <td>
                            @u.Forename
                        </td>
                        <td>
                            @u.Surname
                        </td>
                        <td>
                            @u.DateOfBirth
                        </td>
                        <td>
                            @u.Email
                        </td>
                        <td>
                            @(u.IsActive ? "Yes" : "No")
                        </td>
                        <td>
                            <Dropdown>
                                <DropdownToggleButton Color="ButtonColor.Secondary">Actions</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="@($"user/view/{u.Id}")" Type="ButtonType.Link">View</DropdownItem>
                                    <DropdownItem To="@($"user/edit/{u.Id}")" Type="ButtonType.Link">Edit</DropdownItem>
                                    <DropdownItem To="@($"user/delete/{u.Id}")" Type="ButtonType.Link">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </td>
                    </tr>
                    }
                }
                else
                {
                @foreach (var u in Users)
                    {
                    <tr>
                        <td>
                            @u.Id
                        </td>
                        <td>
                            @u.Forename
                        </td>
                        <td>
                            @u.Surname
                        </td>
                        <td>
                            @u.DateOfBirth
                        </td>
                        <td>
                            @u.Email
                        </td>
                        <td>
                            @(u.IsActive ? "Yes" : "No")
                        </td>
                        <td>
                            <Dropdown>
                                <DropdownToggleButton Color="ButtonColor.Secondary">Actions</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="@($"user/view/{u.Id}")" Type="ButtonType.Link">View</DropdownItem>
                                    <DropdownItem To="@($"user/edit/{u.Id}")" Type="ButtonType.Link">Edit</DropdownItem>
                                    <DropdownItem To="@($"user/delete/{u.Id}")" Type="ButtonType.Link">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </td>
                    </tr>
                    }
                }
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group">
        <button @onclick="@(() => showFilteredUsers = false)" class="btn btn-default">Show All</button>
        <button @onclick="@(() => FilterUsers(true))" class="btn btn-default">Active Only</button>
        <button @onclick="@(() => FilterUsers(false))" class="btn btn-default">Non Active</button>
    </div>

    <a href="user/create" class="btn btn-primary float-end">
        Add User
    </a>
</div>
    }

@code {
    public bool IsProcessing { get; set; } = false;
    public IEnumerable<UserDTO> Users { get; set; } = new List<UserDTO>();

    private bool showFilteredUsers = false;
    private bool activeFilter = false;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        Users = await _userService.Get();
        IsProcessing = false;
    }

    private void FilterUsers(bool filterByActive)
    {
        showFilteredUsers = true;
        activeFilter = filterByActive;
    }
}
