@page "/user/view/{id:int}"


@inject NavigationManager _navigationManager
@inject IUserService _userService
@inject ILogger _logger



<PageTitle>User Log</PageTitle>

@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
}
else
{

    <h3 class="card-title text-primary mb-3">View User</h3>

    <p>A list of all actions that have been performed by @User.Forename @User.Surname.</p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Type</th>
                    <th>Action</th>
                    <th>DateTime</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var x in UserLog)
                    {
                    <tr>
                        <td>
                            @x.UserId
                        </td>
                        <td>
                            @x.LogLevel
                        </td>
                        <td>
                            @x.Message
                        </td>
                        <td>
                            @x.LogDateTime
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>

    <div class="form-group py-2">
        <NavLink href="/users" class="btn btn-secondary">Back to User List</NavLink>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    public bool IsProcessing { get; set; } = false;
    public UserDTO User { get; set; } = new UserDTO();
    public List<UserLogDTO> UserLog { get; set; } = new List<UserLogDTO>();


    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        User = await _userService.Get(Id);
        UserLog = await _logger.GetLog(Id);
        IsProcessing = false;
    }
}